{% extends 'base.html' %}

{% block title%}
	Generar cotizacion
{% endblock %}

{% block content %}
	
	{% if info_enviado = 0 %}
		<form action= "."method = "POST">
			{% csrf_token %}
			{{ form.as_p }}		
			<input type = "submit" value = "Siguiente"/>
		</form>
	{% endif %}

	{% if agregado = 1 %}
		<form action= "."method = "POST">
			{% csrf_token %}
			{{ form.as_p }}		
			<input type = "submit" value = "Agregar"/>			
		</form>
	{% endif %}

	{%if lista %}
		{%for p in lista%}
			<p>{{p}}</p>
		{%endfor%}
	{% endif %}


	
	<br>
{% endblock %}