{% extends 'base.html' %}
{% block title %}
	Lista productos
{% endblock %}

{% block content %}
	{% if nombre %}
 		<h3 >Productos Sede {{nombre}}</h3>
 	{% else %}
 		<h3>Productos</h3>
 	{% endif %}
 	{% if user.is_authenticated and user.is_superuser %}
 		{% if nombre %}
 			<a class="waves-effect waves-light btn" href="{% url 'vista_agregar_producto' %}"><i class="material-icons right">queue</i>Nuevo</a>
 		{% else %}
 			<h6>Debes crear una sede primero para agregar nuevos productos</h6>
 		{% endif %}
 	{% endif %}
	{% if user.is_authenticated %}

 		<div >
	 		{% if Producto %} 			
	 			<table class = "striped bordered highlight centered ">
			        <thead>
			        	<tr>
			        		<th></th>
			        		<th></th>
			        		<th></th>
			        		<th>Total {{total}}</th>
			        		<th></th>
			        	</tr>
			          	<tr>
				            <th data-field="name">Nombre</th>
				            <th data-field="referencia">Codigo</th>
				            <th data-field="price">Valor</th>
				            <th data-field="cantidad"> Cantidad</th>
				            {% if user.is_staff%}
			              	<th data-field="options">Opcion</th>
			              	{% else %}
			              		<th data-field="options">Opciones</th>
			              {% endif %}
			          	</tr>
			        </thead>
			        {% for p in Producto %}
				        <tbody>
				          	<tr>
				          		<td>{{ p.nombre }}</td>
				          		<td>{{ p.codigobarras }}</td>
				          		<td>{{p.valor}}</td>
				          		<td>{{p.cantidad}}</td>
				          		<td>
				        			<a href="/producto/{{p.id}}"><i class="material-icons enlaces">visibility</i>Ver</a>
					        		{% if  user.is_superuser %}
							       		 <a href="/edit/producto/{{ p.id }}"><i class="material-icons enlaces">description</i>Editar</a>
							        {% endif %}	
						        </td>
				          	</tr>
				        </tbody>
			        {% endfor %}
		        </table>
		    {% else %}
	 			<h3> No Exiten productos </h3>	
		 	{% endif %}
 		</div>
 	
 	{% else %}
		<P>Debes estar utenticado para poder ver el contenido</P>
		<a  class="waves-effect waves-light btn" href="{% url 'vista_login' %}"><i class="material-icons left medium">supervisor_account</i>Iniciar Sesion</a>
	
	{% endif %}
 	<br>		
 	
{% endblock %} 		