{% extends 'base.html'%}
{% block title%}
	Listar sedes

{% endblock %}

{% block content %}
	<h3>Sedes</h3>
	{% if user.is_authenticated and user.is_superuser %}
		<a class="waves-effect waves-light btn" href="{% url 'vista_agregar_sede' %}"><i class="material-icons right">queue</i>Nuevo</a>
	
 		<div >
			{% if sede %}
				<table class="bordered striped centered highlight">
			        <thead>
			          <tr>
			              <th data-field="id" >Sede</th>
			              <th data-field="name">Telefono</th> 
			              <th data-field="apellido">Direccion</th>
			              {% if user.is_staff%}
			              	<th data-field="options">Opcion</th>
			              {% else %}
			              	<th data-field="options">Opciones</th>
			              {% endif %}
			          </tr> 
			        </thead>
			        <tbody>
			          {% for p in sede %}	
				          <tr>
				        		<td>{{p.nombre_sede}}</td>	
				        		<td>{{p.telefono}}</td>
				        		<td>{{p.direccion}}</td>
				        		{% if  user.is_superuser %}
				        			<td>
				        				<a href="/productos/{{ p.id }}"><i class="material-icons enlaces">work</i>Productos</a>
				        				<a href="/entradas/{{ p.id }}"><i class="material-icons enlaces">offline_pin</i>Entradas</a>
				        				<a href="/salidas/{{ p.id }}"><i class="material-icons enlaces">visibility_off</i>Salidas</a>
				        				<a href="/edit/sede/{{ p.id }}"><i class="material-icons enlaces">description</i>Editar</a>

				        			</td>		
				        		{% endif %}          	
				          </tr>
			          {% endfor%}
			        </tbody>
			    </table>
			{% else %}
				<h5> No existen sedes </h5>
			{% endif %}
		</div>

	{% else %}
		{% if user.is_authenticated and user.is_superuser = False %}
			<p>Solo una cuenta administrador puede crear una entrada</p>
		{% else %}
			<P>Debes estar utenticado para poder ver el contenido</P>
			<a  class="waves-effect waves-light btn" href="{% url 'vista_login' %}"><i class="material-icons left medium">supervisor_account</i>Iniciar Sesion</a>
		{% endif %}
	{% endif %}
	<br>
{% endblock %}
